#Key 59, backspace
#Key 58, enter
#Key 36, escape
#Key 0, a
#Key 1, b
#Key 2, c
#Key 3, d
#Key 4, e
#Key 5, f
#Key 6, g
#Key 7, h
#Key 8, i
#Key 9, j
#Key 10, k
#Key 11, l
#Key 12, m
#Key 13, n
#Key 14, o
#Key 15, p
#Key 16, q
#Key 17, r
#Key 18, s
#Key 19, t
#Key 20, u
#Key 21, v
#Key 22, w
#Key 23, x
#Key 24, y
#Key 25, z
#Key 57,  